# Configuration file

general {
    # Restores HEI bookmark ghost dragging in AE2 UEL GUIs.
    B:"Enable AE2 UEL bookmark drag fix"=true

    # Enables ghost dragging into RFTools Crafter recipe slots.
    # Also fixes JEI crafting-recipe filling for the Crafter.
    B:"Enable RFTools Crafter JEI fix"=true

    # Enables JEI recipe filling for Tech Reborn's Rolling Machine.
    B:"Enable Tech Reborn Rolling Machine JEI fill"=true

    # Restores ghost dragging from HEI bookmarks.
    B:"Enable bookmark drag fix"=true
    B:"Enable history drag fix"=true
}


