# Configuration file

general {
    # Restores HEI bookmark ghost dragging in AE2 UEL GUIs.
    B:"Enable AE2 UEL bookmark drag fix"=true

    # Restores ghost dragging from HEI bookmarks.
    B:"Enable bookmark drag fix"=true

    # Restores ghost dragging from the JEI Utilities history window.
    B:"Enable history drag fix"=true
}


